
#home{
	
    width: 50%;
    
   
}
/*body{color: blue}*/
.font{
	color: black;
	font-family: 'Comfortaa';
	font-weight: bold;

}	
#add_event{
	position: fixed;
	top:3%;
	right: 1%;
}


	
#logo_div{
	
	position: relative;
	width: 100%;
	height: 100%; 

}
#Add{
	position: relative;
	right: 0px;
	font-family: 'Comfortaa';

	

}
/*#con{*/
	/*position: fixed;
	top: 3%
	right: 5%;
}
#Contact{
	position: relative;
	right: 0px;

}
*/
	

.body{
	background-image: url("b6.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#adding{
	background-image: url("b7.jpg");
	background-repeat: no-repeat;
	background-size: cover;

}
#adding_content{
	width: 50%;

}
#h{
	color: white;
	font-family: 'Comfortaa';
	font-weight: bold;
	font-size: 28px;
}
.container-fluid{
	background-color: rgba(100, 88, 81, 0.3);
	height: 50%;
	width: 60%;
}


#interest_btn {
	font-family: 'Comfortaa';
	border-radius: 100px;
	width: 100px;
	height: 100px;
}













#intrest_page{
	text-align: center;
	font-family: 'Comfortaa';

}
#events_for{
	margin: auto;
	border-style: solid;
	width: 40%;

}
#topics{
	font-weight: bold;

}
.title{
	font-weight: bold;
}