<!DOCTYPE html>
<html>
    <head>
        <title>Mermedia - Add an Event</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <body id="adding">
    <ul class="nav nav-tabs">
        <a class="navbar-brand">
            <img src="../static/mini_logo.png" width="230" height="60">
        </a>
        <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('welcome')}} " style="font-family:Comfortaa">Home</a>
        </li>
        <li class="nav-item">


            <a class="nav-link active " href="{{ url_for('log_out')}} " style="font-family:Comfortaa">Log Out</a>


            <a class="nav-link" href="{{ url_for('log_out')}} " style="font-family:Comfortaa">Log Out</a>


        </li>
         

    </ul>
    <br>
    <center>
    <div id="adding_content">
        
        <h1 class= "font">Add your event:</h1>
        <br>

        <form action="/add_event" method="post">

        <!--  -->
        <input type="text" class="form-control" name="event_name" placeholder="Insert Event Name" style="font-family:Comfortaa">
        <br>
        <br>
        <h3 class="title" style="font-family:Comfortaa">Pick the topic of your event:</h3>
        <div id="topics" style="font-family:Comfortaa">
        <input type="radio" name="topic" value="Animals">Animals
        <input type="radio" name="topic" value="Cooking">Cooking
        <input type="radio" name="topic" value="Science">Science
        <input type="radio" name="topic" value="Dance">Dance
        <input type="radio" name="topic" value="Art">Art
        <input type="radio" name="topic" value="Theatre">Theatre
        <input type="radio" name="topic" value="Poetry">Poetry
        <input type="radio" name="topic" value="Music">Music
        <input type="radio" name="topic" value="Books">Books
        <input type="radio" name="topic" value="Movie">Movie
        <input type="radio" name="topic" value="Gaming">Gaming
        </div>
        <br>
        <!-- <input type="text" name="event_location" placeholder="insert event location"> -->
        <h3 class="title" style="font-family:Comfortaa"> In Which City? </h3>
        <select name="event_location" placeholder="location" style="font-family:Comfortaa">
              <option value="Jerusalem">Jerusalem</optihomeon>
              <option value="Nazareth">Nazareth</option>
              <option value="Tel Aviv">Tel Aviv</option>
              <option value="Haifa">Haifa</option>
              <option value="North">North</option>
              <option value="Bethlehem">Bethlehem</option>
              <option value="Eilat">Eilat</option>
              <option value="Ramallah">Ramallah</option>
              <option value="Ashkelon">Ashkelon</option>
        </select>
            
        <br>
        <br>

        <h3 class= "title" style="font-family:Comfortaa">Adress Of The Event: </h3>
        <input type="text" name="event_adress" placeholder="event adress" style="font-family:Comfortaa">
        <br>
        <br>
        <h3 class= "title" style="font-family:Comfortaa">Age Limit:</h3>

        <input type="number" name="age_limit" class="form-control" placeholder="Insert event age limit" style="font-family:Comfortaa">

        


        <br>

        <br>
         <h3 class= "title" style="font-family:Comfortaa">When?</h3>
        <input type="text" name="event_time" class="form-control" style="font-family:Comfortaa" placeholder="Insert the time of the event">
        <br>
        <br>
        <h3 class= "title" style="font-family:Comfortaa" >Date:</h3>


            <input  style="font-family:Comfortaa" type="date" value="2018-07-29" input type="date" id="event_time" name="event_date" value="0000-00-00" min="2018-01-01" max="2022-12-31">
        <br>
        

        <br>
        

        

        <h3 class= "title" style="font-family:Comfortaa">Describe your event:</h3>
        <input type="text" name="event_description" class="form-control" placeholder="Description" style="font-family:Comfortaa">
        <br>

        <br>
        <input type="submit" class="btn btn-light" value="Submit" style="font-family:Comfortaa">
        <br>
        <br>
        

       


            

        </form>
        
    </div>
    </center>
    </body>
</html>
