<!DOCTYPE html>
<html>
    <head>
        <title>Mermedia - Add an Event</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>Add your event:</h1>

        <form action="/add_event" method="post">

        <!--  -->
        <input type="text" name="event_name" placeholder="insert event name">
        <br>
        <input type="text" name="event_location" placeholder="insert event location">
        <br>
        <input type="text" name="age_limit" placeholder="insert event age limit">
        <br>
        <h3>Pick the topic of your event:</h3>
        <div id="topics">
        <input type="radio" name="topic" value="Animals">Animals
        <input type="radio" name="topic" value="Cooking">Cooking
        <input type="radio" name="topic" value="Science">Science
        <input type="radio" name="topic" value="Dance">Dance
        <input type="radio" name="topic" value="Art">Art
        <input type="radio" name="topic" value="Theatre">Theatre
        <input type="radio" name="topic" value="Poetry">Poetry
        <input type="radio" name="topic" value="Music">Music
        <input type="radio" name="topic" value="Books">Books
        </div>
        <br>
        <h3>Describe your event:</h3>
        <input type="text" name="event_description">
        <br>
        <input type="submit" value="Submit">
        <br>
        <a href="{{ url_for('welcome')}} "> Back to home page! </a>
            

        </form>

    </body>
</html>
