<!DOCTYPE html>
<html>
    <head>
        <title>Mermedia</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/logo.jpg">

        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
    	<h3> Hello {{user_name}} </h3>
        <h1>Welcome!</h1>
        <h2>Click on one of your interests <br> and check out events or activities you can join!</h2>
        <br>
        {% for interest in interests %}
        		<button type= "button">{{interest}}</button>
        {%endfor%} 
        <button type= "button">Add Info About an Event or Activity!</button>

        
    </body>
</html>
