<!DOCTYPE html>
<html>
    <head>
        <title>{{intrest}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <p>almost heaven, west virginia blue ridge mountains, shenandoah river life is old there, older than the trees younger than the mountains, blowing like a breeze country roads, take me home to the place i belong west virginia, mountain mama take me home, country roads all my memories gather round her miner's lady, stranger to blue water dark and dusty, painted on the sky misty taste of moonshine, teardrop in my eye country roads, take me home to the place i belong west virginia, mountain mama take me home, country roads i hear her voice, in the morning hour she calls me the radio reminds me of my home far away and driving down the road i get a feeling that i should have been home yesterday, yesterday country roads, take me home to the place i belong west virginia, mountain mama take me home, country roads country roads, take me home to the place i belong west virginia, mountain mama take me home, country roads take me home, down country roads take me home, down country roads</p>
    </body>
</html>
