<!DOCTYPE html>
<html>
    <head>
        <title>Mermedia - Home Page</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>
    <body class="body">
    
    
        <center>
    	<div id="logo_div">
    	<img id="logo"  src="../static/logo5.png">
    	</div>
        <br>
        <div class= "container-fluid">
    	<h2 id="h">Join us and find the perfect events and activities for you, new friends <br> and create yourself a full, happy life!</h2>
        <br>
    	<div id="home">
    	<form method="post">
	        <input type="text" name="user_name" class="form-control" placeholder="Name" style="font-family:Comfortaa">
	        <br>
	        <input type="text" name="user_age" class="form-control" placeholder="Age" style="font-family:Comfortaa">
	        <br>
	        <input type="text" name="user_location" class="form-control" placeholder="Location" style="font-family:Comfortaa">
	        <br>
	        
	        <input type="submit" class="btn btn-light" value="submit" style="font-family:Comfortaa">
            <br>
            
	    </form>
        </div>
	   </center>
    
    
    <!-- <img src="{{ url_for('static',filename='billblock.png') }}" width=200px height=150px> -->
	    	
    </body>
</html>
