<!DOCTYPE html>
<html>
    <head>
        <title>Mermedia - Home Page</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/favicon.jpg">
        <link rel="stylesheet" type="text/css" href="../static/style.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    </head>
    <body>
    
    	<img src="../static/logo.jpg">
    	<h2>Join us and find the perfect events and activities for you!</h2>
    	<div id="home">
    	<form>
	        <input type="text" name="user_name" class="form-control" placeholder="name">
	        <br>
	        <input type="text" name="user_age" placeholder="age">
	        <br>
	        <input type="text" name="user_location" placeholder="location">
	        <br>
	        
<!--keeping this just in case 
	        <br>
	        <input type="checkbox" name="user_intrest" value="music">Music
	        <input type="checkbox" name="user_intrest" value="theatre">Theatre
	        <br>
	        <input type="checkbox" name="user_intrest" value="poetry">Poetry
	        <input type="checkbox" name="user_intrest" value="Art">Art
	        <br>
	        <input type="checkbox" name="user_intrest" value="Dance">Dance
	        <input type="checkbox" name="user_intrest" value="science">Science
	        <br>
	        <input type="checkbox" name="user_intrest" value="cooking">Cooking
	        <input type="checkbox" name="user_intrest" value="movies">Movies
	        <br>
	        <input type="checkbox" name="user_intrest" value="gaming">Gaming
	        <input type="checkbox" name="user_intrest" value="books">Books
	        <br>
 -->
	        <input type="submit" value="submit" >
	    </form>
	    </div>	
    </body>
</html>
