<!DOCTYPE html>
<html>
    <head>
        <title>{{topic}}</title>
        <link rel="shortcut icon" type="image/jpg" href="../static/logo.jpg">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <link href='https://fonts.googleapis.com/css?family=Comfortaa' rel='stylesheet'>
    </head>

    <body id="interest_body">
        <center>
        <div id="events_for">

        <h1> These are the events related to {{topic}}:</h1>
        {% for event in events %}

        
        	

        	<p>

        		{{event.event_name}}:
        		<br>
        		Descreption:  {{event.event_description}}.
        		<br>
                <br>
        		Location:  {{event.event_location}} , {{event.event_adress}}.
                <br>

        		<br>

        		age limit:  {{event.age_limit}}
                <br>

                <br>
                Date & Time:  {{event.event_date}} at {{event.event_time}}
                <br><br>


        	</p>
        {%endfor%}
        <a href="{{ url_for('welcome')}} "> Back to home page! </a>
        <br>
        </div>
        </center>
    </body >
</html>
